<p>test-apis works!</p>
<!--
<button (click)="iapi()">iapi</button>
<br>
<br>
<br>
<button (click)="qa()">qa</button>

<br>
<br>
<br>
<button (click)="g_dashboard()">g_dashboard</button>
<br>
<br>
<br>
<button (click)="restype_create()">restype_create</button>

<br>
<br>
<br>
<button (click)="apim()">apim</button>
<br>
<br>
<br>
<button (click)="apim1()">apim1</button>


<br>
<br>
<button (click)="sub_list()">sub_list</button>

<br>
<br>
<br>
<br>
<button (click)="grafanaQa()">grafanaQa</button>
-->

<br>
<br>
<p>helllloooo</p>
<button (click)="testToday()">test</button>
<br>
